@import url("https://fonts.googleapis.com/css2?family=Fira%20Code:wght@300..700&display=swap");

:root {
  --light: #d9d9d9;
  --medium: #6e7681;
  --dark: #484f58;
  --affirm: #58752a;
  --warn: #e40a0a;
  --neutral: #afafaf;
  --body: 18px;
  --subheading: 30px;
  --heading: 35px;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  display: inline-block;
  text-align: initial;
}

/* BACKGROUND */

body {
  background: var(--dark);
  color: var(--light);
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "fira code", monospace;
}

main {
  min-width: 1450px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hide {
  display: none !important;
}

/* WELCOME */

#welcome {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-toggle-label {
  color: var(--light);
}

#welcome-container {
  width: 750px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#welcome-heading {
  color: var(--light);
}

#welcome-sub-heading {
  color: var(--medium);
}

#train-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#welcome-instructions {
  box-sizing: border-box;
  padding-bottom: 75px;
}

/* TRAINING */

#training {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.section-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: var(--medium);
  padding: 10px 0px 10px 40px;
  box-sizing: border-box;
}

/* HISTORY */

#history-bar {
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

#history-bar-label {
  transform: rotate(-90deg);
  text-wrap: nowrap;
  color: var(--medium);
}

#history {
  width: 875px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: black;
  padding-right: 20px;
}

.collapse {
  width: 50px !important;
  display: none !important;
}

#history-list-container {
  width: 100%;
  height: 60%;
  min-height: 450px;
  padding: 20px;
  box-sizing: border-box;
}

#history-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* HISTORY CHART */

#history-chart-container {
  width: 100%;
  height: 40%;
  min-height: 250px;
  display: flex;
  position: relative;
  flex-direction: row;
}

#chart-x-axis {
  width: calc(100% - 40px);
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#chart-y-axis {
  width: 40px;
  height: calc(100% - 40px);
  position: absolute;
  left: 40;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.chart-axis-val {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chart-y-label {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  flex: 1;
  align-items: center;
  transform: rotate(-90deg);
}

#chart-y-label-accuracy {
  color: hsl(240, 100%, 75%);
}

#chart-x-label {
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
}

#history-chart {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  flex: 1;
  display: flex;
  flex-direction: row;
  padding-left: 27.5px;
  box-sizing: border-box;
  gap: 27.5px;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--medium);
}

.chart-point-container {
  height: 100%;
  position: relative;
  width: 20px;
  overflow: hidden;
}

.chart-point {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: var(--light);
  position: absolute;
  z-index: 100;
}

.chart-accuracy-bar {
  position: absolute;
  width: 20px;
  bottom: 0;
  background: blue;
  opacity: 25%;
}

/* PRACTICE */

#practice {
  width: calc(100% - 50px);
  min-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  box-sizing: border-box;
  background: black;
}

#board-container {
  width: 100%;
  height: 100%;
  flex: 1;
  padding: 20px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background: var(--light);
}

#practice-board {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}

#practice-footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background: black;
  position: relative;
}

#timer {
  width: min-content;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  gap: 20px;
  box-sizing: border-box;
  color: var(--medium);
}

#hotkey-prompt {
  color: var(--medium);
}

#pause-options {
  width: min-content;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  gap: 40px;
  box-sizing: border-box;
  color: var(--light);
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.dot {
  position: absolute;
  outline: 2px black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

/* BUTTONS */

.button-base {
  background-color: var(--dark);
  border: none;
  color: var(--light);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  width: min-content;
}

.button-train {
  background-color: var(--affirm);
  font-size: var(--body);
  width: 250px;
}

.button-practice {
  font-size: var(--body);
  width: min-content;
  padding: 15px 32px;
  box-sizing: border-box;
}

.centered {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
}

.affirm {
  background-color: var(--affirm);
}

.warn {
  background-color: var(--warn);
}

/* SLIDER */

#welcome-toggle-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  box-sizing: border-box;
}

#toggle-active {
  color: #2196f3;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
