/* https: //github.com/Colo-Codes/mini-projects/blob/main/todo-app/css/index.css */
@import url('https://fonts.googleapis.com/css2?family=Fira%20Code:wght@300..700&display=swap');

:root {
    --light: #D9D9D9;
    --medium: #6E7681;
    --dark: #484F58;
    --affirm: #58752A;
    --warn: #E40A0A;
    --neutral: #AFAFAF;
    --body: 18px;
    --subheading: 30px;
    --heading: 35px;

}

html {
    box-sizing: border-box;
    font-size: 16px;
}

/* Background */

body {
    background: var(--medium);
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'fira code', monospace;
}

/* Welcome page */

#welcome-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-page-container {
    width: 750px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#train-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#welcome-instructions {
    box-sizing: border-box;
    padding-bottom: 75px;
}

/* Buttons */

.button-base {
    background-color: var(--neutral);
    border: none;
    color: var(--light);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: min-content;
}

.button-train {
    background-color: var(--affirm);
    font-size: var(--body);
    width: 250px;
}



/* Description... */
